.test {
    font-size: 100px;
    text-align:left;
    align-content: center;
    
    color: rgb(0, 0, 0);
    padding: 10px;
}

.line-1 {
    height: 100px;
    width: 1px;
    background-color:black
}