---
import { Icon } from "astro-icon/components";

export interface Props {
  name: string;
}

const { name } = Astro.props;
---

<div
  class="flex flex-row items-center rounded-lg bg-[var(--primary-color-lighten)] p-2 dark:bg-[var(--card-color-lighten)]"
>
  <Icon name={name} size={22} class="text-[var(--primary-color)]" />
</div>
