---
// Component imports
import Main from "../layouts/MainLayout.astro";
import PostCard from "../components/PostCard.astro";
import Pagination from "../components/controllers/Pagination.astro";
// Utils
import type { PaginateFunction } from "astro";
import { GetSortedPosts } from "../utils/content";
import ChipLayout from "../layouts/ChipLayout.astro";
import MainLayout from "../layouts/MainLayout.astro";


export async function getStaticPaths({
  paginate,
}: {
  paginate: PaginateFunction;
}) {
  const postCollections = await GetSortedPosts();
  return paginate(postCollections, { pageSize: 6 });
}
const { page } = Astro.props;
---

<Main title={"Blog"} subTitle={"Welcome to my blog, where I share my thoughts and experiences."}>
  
  <div class="space-y-8">
    <div class="w-full space-y-4">

    </div>
    <!-- <Pagination
      class="onload-animation"
      lastPage={page.lastPage}
      current={page.currentPage}
      prevURL={page.url.prev}
      nextURL={page.url.next}
      style={`animation-delay: calc(var(--onload-animation-delay) + ${page.data.length + 1} * var(--onload-animation-interval));`}
    /> -->
  </div>
</Main>